{% extends "retail/base.html" %}

{% block title %}Product List - Sellebrate{% endblock %}

{% block content %}
<h1 class="my-4">Product List</h1>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Unit Price ($)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in page_obj %}
        <tr>
            <td>{{ product.ProductID }}</td>
            <td>{{ product.ProductName }}</td>
            <td>{{ product.Category }}</td>
            <td>{{ product.UnitPrice }}</td>
            <td class="text-center">
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-warning">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link">&laquo; First</a></li>
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active"><a class="page-link">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
            <li class="page-item disabled"><a class="page-link">Last &raquo;</a></li>
        {% endif %}
    </ul>
    <a class="btn btn-primary mb-3" href="{% url 'index' %}">Back to Home</a>
</nav>
{% endblock %}
